# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# Entornos virtuales
.venv/
venv/
env/

# Variables y secretos locales
.env
.env.*
!.env.example

# Archivos del sistema
.DS_Store
Thumbs.db

